body{
    width:100%;
    height: 100vh;
    background-image: url("./images/bg2.jpg");
    background-size: 100% 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-repeat:no-repeat;
}
    
.home,.characterDetailContainer{
    height: 100%;
    padding: 2% 10%;
}
.detailHolder{
    background-color: rgba(0,0,0,0.6);
    height: 550px;
    padding: 5%;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1%;
    height: 616px;
    overflow: auto;
}
@media screen and (max-width: 768px) {
    .grid-container{
        grid-template-columns: auto auto ;
    }
    .grid-item{
        height: 250px;
    }
}

.grid-item{
    cursor: pointer;
    padding: 5%;
    height: 200px;
    background-color: rgba(0,0,0,0.6);
    perspective:1000px
}

.grid-inner{
    position: relative;
    height: 100%;
    width:100%;
    text-align:center;
    transition:0.8s;
    transform-style: preserve-3d;
}

.grid-item img{
    width: 100%;
    height: 100%;
}

.grid-item:hover .grid-inner{
    transform:rotateY(180deg);
}
.grid-front,.grid-back{
    position: absolute;
    width:100%;
    height:100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.grid-back{
    background-color: transparent;
    transform: rotateY(180deg);
}

ul{
    list-style: none;
    text-align: left;
    padding:0;
}

.grid-back li{
    margin-bottom:8%;
}

.spinnerImg{
    position: absolute;
    left:40%
}
a{
    text-decoration:none;
    color: #FFF;
}

.characterDetailContainer .characterImage{
    width:45%;
    height: 540px;
    display: none;
    margin-right:5%;
}

.characterDetailContainer .characterImage img{
    width: 100%;
    height: 100%;
    display: inline-block;
}

.characterDetailContainer .characterFacts{
    display: inline-block;
    width:100%;
    height: 540px;
    overflow: auto;
    border: 1px solid #fff;
}

.characterFacts tr {
    border: 1px solid #fff;
    height: 50px;
    margin-bottom:5px
}

table{
    width: 100%;
    text-align: center;
}
table tr td{
    border: 1px solid white;
}

.listItem{
    display: block;
    margin-bottom: 5px;
}
.noData{
    color: #e2e2e2;
}
td strong{
    width: 100%;
    display: block;
}
.searchField{
    margin-top: 20px;
    width: 50%;
    height: 30px;
}